<!-- /views/form.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Pantalla de Pago</title>
</head>
<body>
    <div class="container">
        <h1>Iniciar Pago con Transbank</h1>
        <form action="/iniciar-pago" method="post">
            <button type="submit" class="btn">Ir a Pagar</button>
        </form>
    </div>
</body>
</html>
