<!-- <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Paga tu reserva - Chelenko Lodge</title>
</head>
<body>
    <div class="container">
        <header>
            <img src="/chelenko-logo.png" alt="Chelenko Lodge Logo" class="logo">
        </header>
        <h1>Pagar Reserva por $185.500</h1>
        <form action="/iniciar-pago" method="post">
            <button type="submit" class="btn">
                <img src="/implementacion-webpay-plus.jpg" alt="Webpay Plus" class="webpay-button">
            </button>
        </form>
        <button class="btn" onclick="window.location.href='/'">Cancelar</button>
    </div>
</body>
</html>
-->


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="post" action="/iniciar-pago">
        <input type="hidden" name="token_ws" value="Inserte aquí el token entregado" />
        <input type="submit" value="Ir a pagar" />
    </form>
    
</body>
</html>
