* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff;
}

.container {
    text-align: center;
    border: 1px solid #c4c4c4;
    width: 600px;
    background-color: #fff;
}

header {
    background-color: #c4e3f9;
    padding: 10px 0;
}

.logo {
    height: 150px;
}

.webpay-button {
    height: 150px;
}

.message-box {
    padding: 20px;
    background-color: #c4e3f9;
    border-bottom: 1px solid #c4c4c4;
}

.failed {
    color: #fff;
    background-color: #2f7ec1;
}

.success h1 {
    margin-bottom: 20px;
    color: #2f7ec1;
}

ul {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
    margin: 20px 30px;
}

li {
    margin: 10px 0;
}

button {
    background-color: #2f7ec1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #1d4f7a;
}
