<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pago rechazado - Chelenko Lodge</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <div class="container-reject">
        <header>
            <img src="/public/chelenko-logo.png" alt="Chelenko Lodge Logo" draggable="false" class="logo">
        </header>
        <main>
            <div class="message-box failed">
                <p>El pago no pudo ser realizado, intente nuevamente.</p>
            </div>
            <button class="accept-btn" onclick="window.location.href='/'">Aceptar</button>
        </main>
    </div>
</body>
</html>
